@model List<TMDTProject.Models.DonDat>
@{
    Layout = "~/Views/SharedAdmin/CustomerSharedLayout.cshtml";
}
<h2>Lịch sử đặt tour</h2>

<table class="table">
    <tr>
        <th>Mã đơn</th>
        <th>Ngày đặt</th>
        <th>Số khách</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaDon</td>
            <td>@item.NgayDat</td>
            <td>@item.SoKhach</td>
            <td>@Html.ActionLink("Hủy đặt tour", "CancelBookTour", new { id = item.MaDon }, new { @class = "btn btn-danger" })</td>
        </tr>
    }
</table>